<div class="container">
  <h1 class="title">Bootstrap</h1>
    <nav class="menu">
      <ul class="row">
        <li class="col-md-4">top</li>
        <li class="col-md-4">menu1</li>
        <li class="col-md-4">menu2</li>
      </ul>
    </nav>
  <article>
    <div class="contents">
      <ul>
        <li>contents1</li>
        <li>contents2</li>
      </ul>
    </div>
    <div class="topic">
      <ul>
        <li>bootstrapを使ってレスポンシブデザインを実現しよう！</li>
        <li>やればできる！bootstrapを使ってみよう！</li>
        <li>怖くない！レスポンシブデザインができるようになればWebアプリケーションもワンランク上に！</li>
      </ul>
    </div>
  </article>
</div>
